
.card-set {
    .mini-card {
        border: 1px solid #ccc;
        border-radius: 0.5rem;
        width: 18rem;
        margin-right: 2rem;

        &:hover {
            box-shadow: -2rem 2rem 2rem -2rem #000;
        }
    }
}

.social {
    display: flex;
    margin-top: 2rem;

    a {
        display: block;
        margin-right: 0.875rem;
        color: #f5725c;

        i {
            font-size: 2rem;
        }

        &:hover {
            color: darken(#f5725c, 15%);

            &:after {
                display: none;
            }
        }
    }
}